body {
  margin: 0;
}

#main-container {
  /* border: 1px black solid; */
  display: flex;
  flex-direction: column;
}

#top-div {
  display: flex;
  flex-direction: row;
  background-color: aliceblue;
  justify-content: center;
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
    0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

#info {
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 10px;
  top: 10px;
}

#title-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: aliceblue;
  padding: 10px;
}

#instruction-button {
  background: none !important;
  border: none;
  padding: 0 !important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  cursor: pointer;
}

#instruction-div {
  z-index: 10000000 !important;
}

#instruction-button:hover {
  text-decoration: underline;
}

#instruction-div {
  position: relative;
  left: 30%;
}

#title-search button {
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  background-color: #e0e0e0;
  padding: 6px 16px;
  font-size: 0.875rem;
  min-width: max-content;
  box-sizing: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

  line-height: 1.75;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  border: 0;
  margin: 5px;
  cursor: pointer;
}

#time-input-div {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
}

#time-period-div,
#time-interval-div {
  display: flex;
  flex-direction: row;
}

#time-period,
#time-interval {
  margin-left: 10px;
  margin-right: 10px;
}

#title-price-div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#chartAndDips {
  border-top: 1px black solid;
  border-bottom: 1px black solid;
  display: flex;
  flex-direction: row;
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
    0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
  /* justify-content: space-evenly; */
}

#chart {
  padding: 5px 5px 0 10px;
  border-right: 1px black solid;
  z-index: 0;
}

#dipsFound {
  display: flex;
  flex-direction: column;
  width: 33%;
  padding: 0px 4px 0px 4px;
  border-right: 1px black solid;
}

#dip-filter {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: (max-content + 50px);
  align-items: center;
  margin: 0 auto 0 auto;
}

.dips-content button,
#close-button {
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  background-color: #e0e0e0;
  padding: 6px 16px;
  font-size: 0.875rem;
  min-width: max-content;
  box-sizing: border-box;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  border: 0;
  cursor: pointer;
}

#dipsFound h2 {
  text-align: center;
}

#input-date-div {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px 10px 0px;
}

#input-date-div button,
#currPrice-returnButton button {
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  background-color: #e0e0e0;
  padding: 6px 16px;
  font-size: 0.875rem;
  min-width: max-content;
  box-sizing: border-box;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  border: 0;
  cursor: pointer;
}

#currPrice-returnButton button,
#dipsFound button {
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  background-color: #e0e0e0;
  padding: 6px 16px;
  font-size: 0.875rem;
  min-width: max-content;
  box-sizing: border-box;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  border: 0;
  cursor: pointer;
  height: fit-content;
}

#parameter-button {
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  background-color: #e0e0e0;
  padding: 6px 16px;
  font-size: 0.875rem;
  min-width: max-content;
  box-sizing: border-box;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  border: 0;
  cursor: pointer;
  height: fit-content;
  margin-left: 25px;
}

#staging-area {
  width: 33%;
  display: flex;
  flex-direction: column;
}

#staging-area h2 {
  text-align: center;
  padding-bottom: 8px;
}

#dips-table,
.dips-info {
  display: grid;
  grid-template-columns: 0.8fr 0.8fr 1fr 1fr;
  border: 1px black solid;
  text-align: center;
  margin-bottom: 3px;
}

.dips-content {
  border-right: 1px black solid;
}

#staging-header,
.staging-items {
  display: grid;
  grid-template-columns: 0.1fr 0.2fr 0.3fr 0.35fr 0.4fr;
  border: 1px black solid;
  text-align: center;
  margin: 3px 2px 1px 2px;
}

.staging-content {
  border-right: 1px black solid;
}

.totalCost {
  text-align: end;
  margin-right: 15px;
}

#currPrice-returnButton {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-top: 1px black solid;
  border-bottom: 1px black solid;
}

#returns-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 1px black solid;
}
